body {
  background-color: black;
}
h1 {
  color: orange;
  font-family: fantasy;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: orange;
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
}
