body {
  background-color: black;
}
h1 {
  color: orange;
  font-family: monospace;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: orange;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}
#divisionButton{
  position:absolute;
  left:802px;
  top:148px;
}
#multiplcationButton{
  position:absolute;
  left:802px;
  top:299px;
}
#subtractionButton{
  position:absolute;
  left:802px;
  top:450px;
}
#additionButton{
  position:absolute;
  left:802px;
  top:601px;
}
#equalButton{
  position:absolute;
  left:802px;
  top:752px;
}
#decimalButton{
  position:absolute;
  left:651px;
  top:752px;
}
#buttonNum0{
  position:absolute;
  left:349px;
  top:752px;
}
#buttonNum1{
  position:absolute;
  left:349px;
  top:601px;
}
#buttonNum2{
  position:absolute;
  left:500px;
  top:601px;
}
#buttonNum3{
  position:absolute;
  left:651px;
  top:601px;
}
#buttonNum4{
  position:absolute;
  left:349px;
  top:450px;
}
#buttonNum5{
  position:absolute;
  left: 500px;
  top: 450px;
}
#buttonNum6{
  position:absolute;
  left:651px;
  top:450px;
}
#buttonNum7{
position:absolute;
left:349px;
top:299px;
}
#buttonNum8{
position:absolute;
left:500px;
top:299px;
}
#buttonNum9{
position:absolute;
left:651px;
top:299px;
}
#clearButton{
  position:absolute;
  left:349px;
  top:148px;
}

button:hover {
  background-color: red;
  color: white;
}

.number-buttons{
  width:150px;
  height: 150px;
  background-color: darkGray;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
}
.zero-button{
  width:301px;
  height: 150px;
  background-color: darkGray;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
}
.function-buttons{
  width:150px;
  height: 150px;
  background-color: orange;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
}
.top-buttons{
  width:150px;
  height: 150px;
  background-color: gray;
  color: black;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
}
.clear-button{
  width:150px;
  height: 150px;
  background-color: gray;
  color: black;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
}
#negationButton{
  position:absolute;
  left:500px;
  top:148px;
}
#percentageButton{
  position:absolute;
  left:651px;
  top:148px;
}
input{
  width:599px;
  height:125px;
  position:absolute;
  left:349px;
  top:15px;
  text-align: right;
  font-size: 60px;
  color: white;
  border: solid black 2px;
  background-color: black;
}
button {
  border-radius: 100px;
}  
.marquee {
width: 500px;
line-height: 50px;
color: White;
white-space: nowrap;
overflow: hidden;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
img {
  width: 100px;
  height: 100px;
}
